<% include partials/header%>

<h2>Your Profile</h2>
<p>
    User Name : <%= user.username %> <br>
    Email id  : <%= user.user_email%> <br>
    Wallet    : <%= user.user_wallet%> <br>
    <br><br>
    <form action = "/deposit" method="POST">
        Loan Form: <br>
        <input type="number" placeholder="Enter loan amount " name="loan_amount"><br>
        <input type="checkbox"> I agree to <a href="#">Terms and conditions</a><br>
        <button type="Submit">Take Loan</button>
    </form>
    <% if(user.auc_products.length){%>
        <h3>Posted Product(s) :</h3> <br>
        <% user.auc_products.forEach(function(product){%>
            <h4><%=product.prod_name%></h4>
            <li>Product base Price    : <%= product.prod_base_price%></li>
            <li>Product current Price : <%= product.prod_current_price%></li>
        <% });%>
    <% }%>
    <% if(user.my_bid_products.length){%>
        <h3>Your bid(s) : </h3>
        <% for(var i=0;i<user.my_bid_products.length;i++){%>
            <h4><%=user.my_bid_products[i].prod_name%></h4>
            <li>Your bid price         : <%= user.my_bid_values[i]%></li>
            <li>Product current Price  : <%= user.my_bid_products[i].prod_current_price%></li>
            <li>Product Auction status : In Process</li>
            <% if(user.my_bid_values[i]==user.my_bid_products[i].prod_current_price){%>
                <li>Your bid status        : Winning</li>
            <% }else{%>
                <li>Your bid status        : Loosing</li>
            <% }%>
        <% }%>
    <% }%>
    
    
</p>